* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body, html {
    height: 0;
    width: 0;

  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-side {
    flex: -1;
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #65A2E9; 
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }


  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #639bdb;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}


.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  font-size: 18px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a,
.logout {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu a.active,
.menu a:hover,
.logout:hover {
  background-color: #639bdb;
  border-radius: 8px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.main-content {
  flex-grow: 1;
  background-color: white;
  padding: 30px;
}

.linha-branca {
  width: 90%;
  height: 1px;
  background-color: white;
  margin: 20px auto;
  border: 1px solid 
}


.right-side {
  flex-grow: 1;
  margin-left: 250px;  /* Para deixar espaço para a sidebar */
  padding: 30px;
  display: flex;
  display: block
 
  
}

h1 {
  margin: 20px 0;
  color: #333;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.tab:hover {
  background-color: #0056b3;
}

.tab.active {
  background-color: #004494;
}

.content {
  background: white;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}